:root {
  --wheel-size: 250px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #2c3e50;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#result-display {
    margin: 0 1rem;
  margin-bottom: 80px;
  font-size: 1.4rem;
  font-weight: bold;
  height: 40px;
  color: #f1c40f;
}

.wheel-container {
  position: relative;
  width: var(--wheel-size);
  height: var(--wheel-size);
}

/* The Ticker/Arrow at the top */
.arrow {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid #e74c3c;
  z-index: 10;
}

#wheel {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 8px solid #ecf0f1;
  position: relative;
  overflow: hidden;
  transition: transform 4s cubic-bezier(0.1, 0, 0.2, 1);
  /* Background matches the 6 segments */
  background: conic-gradient(
    #e74c3c 0deg 14deg,
    #3498db 14deg 28deg,
    #9b59b6 28deg 42deg,
    #f1c40f 42deg 56deg,
    #e67e22 56deg 70deg,
    #f032e6 70deg 84deg,
    #bcf60c 84deg 98deg,
    #fabebe 98deg 112deg,
    #008080 112deg 126deg,
    #bc5df7 126deg 139deg,
    #9a6324 139deg 153deg,
    #87ceeb 153deg 167deg,
    #ff7f50 167deg 181deg,
    #ffd700 181deg 195deg,
    #cc0282 195deg 209deg,
    #ffd881 209deg 223deg,
    #808000 223deg 236deg,
    #850101 236deg 250deg,
    #fffac8 250deg 264deg,
    #aaffc3 264deg 278deg,
    #e50808 278deg 291deg,
    #5a1c31 291deg 305deg,
    #9b59b6 305deg 319deg,
    #027230 319deg 333deg,
    #e67e22 333deg 346deg,
    #2ecc71 346deg 360deg

  );
}

/* 13.8461 */

.spin-btn {
  margin-top: 40px;
  padding: 15px 50px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 50px;
  transition: 0.2s;
}

.spin-btn:hover {
  background-color: #c0392b;
}
.spin-btn:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
}
